<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>网上快餐厅</title>
<link rel="stylesheet" type="text/css" href="/static/css文件/index.css">
<link rel="stylesheet" type="text/css" href="/static/css文件/init.css">
<link rel="shortcut icon" href="/static/images/0017029545783020_b.ico" >
<script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src='/static/js/index.js'></script>

</head>
<body>
	<div id='contain' style="width:900px;background:#FFFFFF;margin:0 auto; padding:0px;">
		<div id='top'>
			<div class='menutop'>
				{% if user %}
					<a href="">订餐指南</a>|
					<a href="">我的订单</a>|
					<a href="">我的积分</a>|
					<!--<a href="{{ url_for('main.Register') }}">会员注册</a>|-->
					<!--<a href="{{ url_for('main.login') }}">会员登录</a>|-->
					<a href="/query">{{user.username}}(会员中心)</a>|
					<a href="/logout">退出</a>|

				{% else %}
					<a href="">订餐指南</a>|
					<a href="{{ url_for('main.Register') }}">会员注册</a>|
					<!--<a href="{{ url_for('main.Register') }}">会员注册</a>|-->
					<a href="{{ url_for('main.login') }}">会员登录</a>|
					<!--<a href="/login">会员登录</a>|-->
					<a href="/query">会员中心</a>|
					<a href="">我的订单</a>|
					<a href="">我的积分</a>|
				{% endif %}
			</div>	
			<div class='logo'>
			<img src="/static/images/logo.jpg">
			</div>
			<div id="butt_seven">
				<!-- 首页 -->
				<a href='/' class='sy'></a>
				<!-- 订单查询 -->
				<a href='/orderquery' class='cx'></a>
				<!-- 在线充值 -->
				<a href='' class='cz'></a>
				<!-- 积分换赠 -->
				<a href='' class='jf'></a>
				<!-- 每周菜谱 -->
				<a href='' class='cp'></a>
				<!-- 饮食文化 -->
				<a href='' class='wh'></a>
				<!-- 顾客留言 -->
				<a href='' class='ly'></a>
			</div>
		</div>
			
		<div id='content'>
			<div id='pdv_01_04'>
				<div id='pdv_01' class="pdv_class">
					<p id='dingcanTime_top_left'>
						<img src="/static/images/2018-12-15_145709.png">
					订餐时间</p>
					<p id='dingcanTime_top_left_nbsp'></p>
					<div class="mar-left">
						<p class='break-din'>午餐&nbsp;:</p>
						<span class='selltime'>&nbsp;9:00-13:00</span>
					</div>
					<div class="mar-left">
						<p class='break-din'>晚餐&nbsp;:</p>
						<span class='selltime'>&nbsp;16:00-19:00</span>
					</div>
						<p id='note' class="mar-left">注：周六日或其他时间用餐，请提前来电</p>
						<p id='tel' class="mar-left">电话订餐： 110</p>
				</div>
				<div id='pdv_02' class='pdv_class'>
					<div id='dingcanche'>
						<img class='image01' src="/static/images/2019-01-03_185357.png">
						<p class='diancanche_top_left'>我的餐车</p>
						<img class='image02' src="/static/images/2019-01-03_195207.png">
					</div>
					<div id='order'>
						<p class='food'>名称</p>
						<p class='price'>单价</p>
						<p class='count'>份数</p>
						<p class='cancel'>取消</p>
					</div>
					<ul id='dcinfo'>
						<!-- <li>
							<p class='dcfood'></p>
							<p class='dcprice'></p>
								<input type='text'>
							<p class='dcCancel'>
								<img src='images/2019-01-06_212719.png'>
							</p>
						</li> -->
					</ul>
					<div id='sum_dc'>
						<p class='sumdc01'>小&nbsp;&nbsp;计:</p>
						<p class='sumdc02'><span></span>&nbsp;元</p>
						<p class='sumdc03'><span></span>&nbsp;份</p>
					</div>
					<div id='dc_img'>
						<img class='dc_img01' src="/static/images/2019-01-06_195721.png">
						<img class='dc_img02' src="/static/images/2019-01-06_195751.png">
					</div>

				</div>
				<div id='pdv_03' class='pdv_class'>3</div>
				<div id='pdv_04' class='pdv_class'>4</div>
			</div>
			<div id='pdv_05' class='pdv_class'>
				<div id='diancan_all_top'>
					<div></div>
					<p>自选订餐</p>
					<p>固定套餐</p>
					<p>组合套餐</p>
				</div>
				<div class='cat_01'>
					<p>单点餐品</p><i></i>
					<p>营养主食</p><i></i>
					<p>点心小吃</p><i></i>
					<p>美味汤品</p><i></i>
					<p>酒水饮料</p><i></i>
					<p>新鲜水果</p>
				</div>
				<div class='cat_01' style="display:none;">
					<p>经济套餐</p><i></i>
					<p>商务套餐</p><i></i>
					<p>精品盖饭</p>
				</div>
				<div class="cat_01" style="display:none;">
					<div>
						<select>
							<option>8元组合套餐</option>
							<option>10元组合套餐</option>
							<option>12元组合套餐</option>
						</select>
					</div>
					<div>套餐价格:<span>8.00</span>元/份</div>
					<div>积分:<span>5</span>分</div>
					<div>(荤菜:&nbsp;&nbsp;&nbsp;素菜:&nbsp;&nbsp;&nbsp;汤:)</div>
					<img id='putCanche' src="/static/images/2019-01-19_171502.png">
				</div>

				<!-- 菜品信息展示部分 -->
				<div id='caipin'>
					<!-- 10元以下餐品 -->
					{% if params.menus_01 %}
					<div class='caipin_div'>
						<p class="caipin_price">10元以下餐品</p>
						{% for menu in params.menus_01 %}
						<div class='caipin_inform'>
							<div class='caipin_images'>
								<img src="/static/{{menu.images}}">
							</div>
							<div class='caipin_list'>
								<p style='font-weight:bold;'>菜名:{{menu.cname}}</p>
								<p>单价:<span>{{menu.cprice|float}}</span>&nbsp;元/份</p>
								<p>积分:<span>{{menu.points}}</span>分/份</p>
								<p>主料:{{menu.ingredients}}</p>
								<p>口味:<span>{{menu.taste}}</span></p>
								<p>可定份数:<span>{{menu.stock}}</span>份</p>
								<p style="display: none;">{{menu.mealmeans}}</p>
								<p>
									<span style='color:#505050;'>份数</span>
									<select>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
								</p>
								<img src="/static/images/2019-01-08_172812.png">
							</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}

					<!-- 10元~20元餐品 -->
					{% if params.menus_02 %}
					<div class='caipin_div'>
						<p class="caipin_price">10元~20元餐品</p>
						{% for menu in params.menus_02 %}
						<div class='caipin_inform'>
							<div class='caipin_images'>
								<img src="/static/{{menu.images}}">
							</div>
							<div class='caipin_list'>
								<p style='font-weight:bold;'>菜名:{{menu.cname}}</p>
								<p>单价:<span>{{menu.cprice|float}}</span>&nbsp;元/份</p>
								<p>积分:<span>{{menu.points}}</span>分/份</p>
								<p>主料:{{menu.ingredients}}</p>
								<p>口味:<span>{{menu.taste}}</span></p>
								<p>可定份数:<span>{{menu.stock}}</span>份</p>
								<p style="display: none;">{{menu.mealmeans}}</p>
								<p>
									<span style='color:#505050;'>份数</span>
									<select>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
								</p>
								<img src="/static/images/2019-01-08_172812.png">
							</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}

					<!-- 20元~50元餐品 -->
					{% if params.menus_03 %}
					<div class='caipin_div'>
						<p class="caipin_price">20元~50元餐品</p>
						{% for menu in params.menus_03 %}
						<div class='caipin_inform'>
							<div class='caipin_images'>
								<img src="/static/{{menu.images}}">
							</div>
							<div class='caipin_list'>
								<p style='font-weight:bold;'>菜名:{{menu.cname}}</p>
								<p>单价:<span>{{menu.cprice|float}}</span>&nbsp;元/份</p>
								<p>积分:<span>{{menu.points}}</span>分/份</p>
								<p>主料:{{menu.ingredients}}</p>
								<p>口味:<span>{{menu.taste}}</span></p>
								<p>可定份数:<span>{{menu.stock}}</span>份</p>
								<p style="display: none;">{{menu.mealmeans}}</p>
								<p>
									<span style='color:#505050;'>份数</span>
									<select>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
								</p>
								<img src="/static/images/2019-01-08_172812.png">
							</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}

					<!-- 50元以上餐品 -->
					{% if params.menus_04 %}
					<div class='caipin_div'>
						<p class="caipin_price">50元以上餐品</p>
						{% for menu in params.menus_04 %}
						<div class='caipin_inform'>
							<div class='caipin_images'>
								<img src="/static/{{menu.images}}">
							</div>
							<div class='caipin_list'>
								<p style='font-weight:bold;'>菜名:{{menu.cname}}</p>
								<p>单价:<span>{{menu.cprice|float}}</span>&nbsp;元/份</p>
								<p>积分:<span>{{menu.points}}</span>分/份</p>
								<p>主料:{{menu.ingredients}}</p>
								<p>口味:<span>{{menu.taste}}</span></p>
								<p>可定份数:<span>{{menu.stock}}</span>份</p>
								<p style="display: none;">{{menu.mealmeans}}</p>
								<p>
									<span style='color:#505050;'>份数</span>
									<select>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
								</p>
								<img src="/static/images/2019-01-08_172812.png">
							</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</div>
			<!--点餐流程指示图-->
			<div id='liuchengImg'></div>
		</div>


		



		<!-- 网站的尾部 -->
		
		<div id='bottommenu'>
			<a href="">关于我们</a>&nbsp;|
			<a href="">订餐指南</a>&nbsp;|
			<a href="">配送说明</a>&nbsp;|
			<a href="">联系方式</a>&nbsp;|
			<a href="">投诉建议</a>&nbsp;|
			<a href="">诚聘英才</a>		
		</div>
		<p class='linkweb'>
			<a href="http://food.39.net/">39健康网</a>
			<a href="http://www.39830i.com/Register/?a=63241">天天营养网</a>
			<a href="http://www.canyin.com/">中国餐饮网</a>
			<a href="http://835.dopa.com">餐饮世界网</a>
			<a href="http://www.tesecai.cn/">特色菜网</a>
			<a href="http://www.westfood.com.cn/">中国西餐网</a>
			<a href="http://www.chinavegan.com/">中华素食网</a>
			<a href="http://www.kclm.org/">中国快餐联盟网</a>
			<a href="http://www.souchu.com/">搜厨网</a>
			<a href="http://www.cantingsheji.com/">餐厅设计网</a>
			<a href="https://www.meishichina.com/">美食中国</a>
		</p>
		<p class='linkweb'>
			电话:&nbsp;15228946972&nbsp;售前QQ:&nbsp;562908512&nbsp;1263576715&nbsp;地址：&nbsp;深圳市宝安区龙华民治大道0000号 &nbsp;邮编：&nbsp;000000 &nbsp;（商务合作）
		</p>
		<p class='linkweb'>
			网上快餐店 Copyright(C)2018-2019
		</p>
	</div>
</body>
</html>