	/*头部部分*/
#top{
	position: relative;
	box-sizing:border-box;
	width:900px;height:142px;
	border-bottom:4px solid #E76E13;
}
.menutop{
	float:right;
	background-color: #FFFDEA;
	margin:0px;
	border: 1px solid #ED6C06;
	border-radius: 5px;	
}
.menutop>a{
	text-decoration: none;
	margin: 0 5px;
	color: #555;
	font: 12px/25px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
}
.menutop>a:hover{
	color:#FF7300;
}
.logo{
	float:left;
	width:219px;
	margin-top:2px;
}

#title_img{
	position:absolute;
	top: 18px;
	left: 237px;
}

#butt_seven{
	padding: 0px;
	position: relative;
	left: 217px;
	top:96px;
	height: 42px;
	width:656px;
}
#butt_seven>a{
	margin-left:0px;
	margin-right:6px;
	position: absolute;
	width:89px;
	height: 40px;
	box-sizing: border-box;
}
.sy{left:1px;
		top:2px;
		background:url(../../static/images/top导航栏图标/首页2.png) no-repeat;}
		.sy:visited{background:url(../../static/images/导航栏图标-三角/首页.png) no-repeat;}
		.sy:hover{background:url(../../static/images/导航栏图标-三角/首页.png) no-repeat;}

.cx{left:96px;
		top:2px;
		background:url(../../static/images/top导航栏图标/查询2.png) no-repeat;}
		.cx:hover{background:url(../../static/images/导航栏图标-三角/订单查询.png) no-repeat;}
	
.cz{left:190px;
		top:2px;
		background:url(../../static/images/top导航栏图标/充值2.png) no-repeat;}
		.cz:hover{background:url(../../static/images/导航栏图标-三角/在线充值.png) no-repeat;}
	
.jf{left:284px;
		top:2px;
		background:url(../../static/images/top导航栏图标/积分2.png) no-repeat;}
		.jf:hover{background:url(../../static/images/导航栏图标-三角/积分换赠.png) no-repeat;}
	
.cp{left:378px;
		top:2px;
		background:url(../../static/images/top导航栏图标/菜谱2.png) no-repeat;}
		.cp:hover{background:url(../../static/images/导航栏图标-三角/每周菜谱.png) no-repeat;}
	
.wh{left:472px;
		top:2px;
		background:url(../../static/images/top导航栏图标/文化2.png) no-repeat;}
		.wh:hover{background:url(../../static/images/导航栏图标-三角/饮食文化.png) no-repeat;}
	
.ly{left:566px;
		top:2px;
		background:url(../../static/images/top导航栏图标/留言2.png) no-repeat;}
		.ly:hover{background:url(../../static/images/导航栏图标-三角/顾客留言.png) no-repeat;}

/*主体部分*/
#content{
	width:900px;
	margin:10px auto;
	overflow: hidden;
}

.pdv_class{
	width:237px; 		
	border:2px solid #FFEED9;
	border-radius:7px;
	background:#FFFDEA;
}
#pdv_01_04{
	float: right;
}
/*订餐时间*/
#pdv_01{
	height:195px;
}

#dingcanTime_top_left{
	position:relative;
	background-color: #FFFFFF;
		height: 43px;
		width: 193px;
	padding-left: 50px;
	font:bold 16px/43px 微软雅黑;
	color: #feab43;
	border-bottom:1px dashed #D50110;}
#dingcanTime_top_left_nbsp{
	height:14px;
	background-color: #FFFFFF;
}
#dingcanTime_top_left img{
	position: absolute;
	top:0px;
	left:0px;
}

p.break-din{
	float:left;
	color: #ef6906;
	font-size: 14px;
	font-weight: bold;}

span.selltime{
	color: #404040;
	font-size: 14px;
	font-weight: bold;}

p#note{height:20px;font-size:12px;font-weight:bold;color:#e52614;margin-top:12px;}

p#tel{height: 24px;font-size: 14px;font-weight: bold;color: #f16906;margin-top:12px;}

.mar-left{
	margin-top:12px;
	padding-left:4px
}
/*我的餐车*/
#pdv_02{
	margin-top: 10px;
}

.dingcanche{
	position: relative;
	background:#F7F6F4;
	margin-bottom: 2px
}

.dingcanche>.diancanche_top_left{
	float: left;
	height: 39px;
	line-height: 39px;
	padding-left: 50px;
	font-size: 16px;
	font-weight: bold;
	color: #feab43;
	position: relative;
}

.dingcanche>.image01{
	position: absolute;
	top:5px;
	left: 6px;
}

.dingcanche>.image02{
	position: absolute;
	top:10px;
	left:133px;
}

#pdv_02>div{
	overflow:hidden;
}

#order{
	background: #f6f6f6;
	height: 16px;
}

#order p{
	float:left;
	font-size: 12px;
	color: #505050;
}

#order>.food{margin-left:60px;}
#order>.price{margin-left:48px;}
#order>.count{margin-left:20px;}
#order>.cancel{margin-left:10px;}


#dcinfo{
	list-style: none;
	width: 237px;
}
#dcinfo li{
	width: 237px;
	overflow: hidden;
}
#dcinfo li>p{
	float:left;
	height:25px;
	line-height:25px;
	padding-left: 6px;
	background-color: #FDC690;
}
#dcinfo input{
	margin-right: 7px;
	margin-left:4px;
	float: left;
	width:19px;
	height:21px;
	line-height: 20px;
	padding: 0px 3px;
	border: 1px #ddd solid;
	/*box-sizing:border-box;*/
	color: #555;
	background: #f7f7f7;	
}
#dcinfo li>.dcprice{
	width:36px;
}
#dcinfo li>.dcCancel{
	width:20px; 
	cursor: pointer;
	/*background: #FFFDEA;*/
}

p.dcfood{
	width: 121px;  
}
p.dcprice{
	margin-left: 3px;	
}

#sum_dc{
	width: 237px;
	height: 24px;
	margin: 15px 3px 1px 3px;
}

#sum_dc>p{
	float: left;
}
#sum_dc>.sumdc01{
	padding-left: 25px;
}
#sum_dc>.sumdc02{
	padding-left:59px;
}
#sum_dc>.sumdc03{
	padding-left:22px;
}
#sum_dc>p>span{
	font-weight: bold;
	color: #ff0000;
}

#dc_img{
	position:relative;
	width: 237px;
	height:26px;
	cursor: pointer;
}
#dc_img>.dc_img01{
	position: absolute;
	top:-2px;
	left:78px;
}
#dc_img>.dc_img02{
	position: absolute;
	top:-2px;
	left:153px;
}
/*网站公告*/
#pdv_03{	
	margin-top: 10px;
	height:186px;
}
#Ggao{
	margin: 16px 7px;
	list-style: none;
}
#Ggao li{
		width: 217px;
		height:22px;
 }
#Ggao a:hover{
	text-decoration: underline;
	color: #FF0000;
}
/*本周菜单*/
#pdv_04{
	margin-top: 10px;
	height:100px;
}
#pdv_04 table{
	margin-top: 20px;
}
#pdv_04 table a:hover{
	text-decoration: underline;
	color: #FF0000;
}

#pdv_05{
	width:648px;
	border: 1px solid #EF6908;	
}

/*菜品展示部分*/
#diancan_all_top{
	width:648px;
	height:35px;
	background:url(../../static/images/gwwghrwe.png)
}
#diancan_all_top>div{
	float: left;
	width: 56px;
	height:70px;

}
#diancan_all_top>p{
	float: left;
    width: 90px;
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ff9900;
    line-height: 35px;
    cursor: pointer;
	background:url(../../static/images/2019-01-07_193153.png)
}
.cat_01{
	width:648px;
	height:35px;
	background:url(../../static/images/2019-01-07_204600.png);
}
.cat_01>p{
	display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0px 3px;
    color: #666666;
    cursor: pointer;
}
.cat_01>p:first-child{
	color:#FFFFFF;
	background-color:#EC7521;
}
.cat_01>p:hover{
	color:#FFFFFF;
	background-color:#EC7521;
}
.cat_01>i{
	margin: 9px 4px 0;
    height: 11px;
    border-left:1px solid #505050;
}
.cat_01>div{
	display: inline-block;
    height: 35px;
    line-height: 35px;
	padding: 0px 3px;
	color: #505050;

}
#putCanche{
	position:absolute;
	cursor: pointer;
}
.cat_01 span{
	color:#FF0000;
}


#caipin{
	width:648px;
	overflow: hidden;
	background-color: #FFFFFF;
}

#caipin>.caipin_div{
	overflow: hidden;
}

#caipin>.caipin_div>.caipin_price{
	float: left;
	width: 594px;
	height: 30px;
	padding-left: 55px;
	line-height: 30px;
	font-weight: bold;
	background:url(../../static/images/2019-01-08_152134.png);
}

#caipin .caipin_inform{
	float: left;
	width: 292px;
	height:142px;
	margin:18px 0px 15px 13px;
}

/*餐品图片浏览*/
#caipin .caipin_inform>.caipin_images{
	width: 150px;
	height: 140px;
	float: left;
	margin: 1px 1px;
	transition:.3s;
}
#caipin .caipin_inform>.caipin_images>img{
	width:150px;
	height:140px;
}
#caipin .caipin_inform>.caipin_images:hover{
	transform: scale(1.1);
}

/*餐品详细信息*/
#caipin .caipin_inform>.caipin_list{
	width:120px;
	height: 142px;
	float: right;
	margin-right:3px;
	position: relative;
}

/*放入餐车按钮*/
#caipin .caipin_inform>.caipin_list>img{
	position: absolute;
	cursor: pointer;
	bottom:-11px;
}
#caipin .caipin_inform>.caipin_list>img:active{
	border: 2px dashed gray;
	border-radius: 20px;
}

#caipin .caipin_inform>.caipin_list>p{
	width: 120px;
	height: 16px;	
}

#caipin .caipin_inform>.caipin_list>p>span{
	color: #FF0000;
}


/**网页尾部**/
#liuchengImg{
	margin:15px 0 0 0;
	width:648px;
	height: 146px;
	background:url(../../static/images/1254038036.jpg);
}

#bottommenu{
	width:898px;
	height:40px;
	background:url(../../static/images/2019-01-08_195918.png);
	color: #474747;
	text-align: center;
	line-height: 40px;
}

#bottommenu>a:hover{
	color: #FED400;
}

.linkweb{
	width:898px;
	height:35px;
	color:#474747;
	text-align: center;
	line-height: 35px;
}

.linkweb>a{
	display: inline-block;
	margin-right:19px;
}

.linkweb>a:hover{
	text-decoration:underline;
	color:#FF0000;
}



